<div class="hero-unit">
  <h1>Welcome!</h1>
  <p>Place for your faves !</p>
  <p><%= link_to "Signin",new_user_session_path,class:'btn btn-primary btn-large' %> 
  New user ?  <%= link_to "Signup here", new_user_registration_path,class:'text-info' %></p>
</div>
