<div class="hero-unit">
  <h1>Welcome!</h1>
  <p>Place for your faves !</p>
  <% unless current_user  %>
    <p><%= link_to "Signin", "#",class:'btn btn-primary btn-large' %> 
    New user ?  <%= link_to "Signup here", "#",class:'text-info' %></p>
  <% else %>
    <p>Start adding faves <%= link_to "here", faves_path, class:'text-info' %></p>
  <% end %>
</div>
