<div class="span3">
  <div class="well well-small sidebar-nav">
    <ul class="nav nav-list ">
      <li><%= link_to "Favorites",faves_path %></li>
      <li><%= link_to "Account", "#"  %></li>
      <li><%= link_to "Settings", "#"  %></li>

      <li class="divider"></li>

      <li><%= link_to "Logout", signout_path,method: :delete %></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->

